<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aboutUs</key>
	<string>一、注册用户享有社区合法用户应有的一切权利。用户在社区行使权利时不得违反国家的法律法规以及社区的各项规定。用户若在社区活动中，有触犯国家法律、法规的，一切后果自行负责。
     
     二、注册ID用户中含有对其他社区ID用户有攻击、侮辱、挑衅、猥亵等内容的，或带有广告性质的ID用户，社区有随时取消其用户名的权力。
     
     三、对于和其他社区用户ID名称相近的ID并可能引起争执的，社区将支持先注册的ID用户，而保留注销后注册ID用户的权利。
     
     四、社区提倡实名注册。如发现注册账号中含有不雅文字或不恰当名称的社区会员，社区保留取消其会员资格的权利。(1)请勿以党和国家领导人或其他社会名人的真实姓名、字号、艺名、笔名注册；(2)请勿以国家机构或其他机构的名称注册；(3)请勿注册和其他网友之名相近、相仿的名字；(4)请勿注册不文明、不健康名字，或包含歧视、侮辱、猥亵类词语的名字；(5)请勿注册易产生歧义、引起他人误解的名字。
     
     五、对于严重违反社区规则的，社区保留随时注销其用户ID的权利。
     
     六、用户注册三个月后，未使用该注册ID发贴，且上站次数少于3次，社区有权删除原注册用户。
     
     七、本社区会员的个人隐私受到社区保护，不接受任何个人或单位的查询，但以下情况除外：1）用户本人授权社区透露这些信息；2）相关的法律及程序要求社区提供用户的个人资料。
     
     八、本社区会员享有在各公开论坛发表言论的权利，若论坛中有特殊规定，或因受到处罚而关闭权限则例外。
     
     言论规则
     
     一、严禁违反宪法确定的基本原则。
     
     二、严禁危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一。
     
     三、严禁损害国家荣誉和利益。
     
     四、严禁煽动民族仇恨、民族歧视、破坏民族团结。
     
     五、严禁破坏国家宗教政策，宣扬邪教和封建迷信。
     
     六、严禁散布谣言、扰乱社会秩序、破坏社会稳定。
     
     七、严禁散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪。
     
     八、严禁侮辱或者诽谤他人，侵害他人合法权益。
     
     九、严禁煽动非法集会、结社、游行、示威、聚众扰乱社会秩序。
     
     十、严禁以非法民间组织名义活动。
     
     十一、严禁含有法律、行政法规禁止的其他内容。
     
     十二、严禁发布可能会妨害第三方权益的文件或者信息，例如（包括但不限于）：病毒代码、黑客程序、软件破解注册信息。严禁抄袭及剽窃他人作品，禁止转载或引用涉及版权问题的文章。
     
     十三、禁止未经社区允许发布广告。
     
     十四、严禁发表与论坛宗旨无关主题、与主题无关回复、上传与内容无关图片。
     
     十五、严禁一帖多发、刷版（帖）等恶意灌水现象。
     
     十六、禁止在短时间内连续翻出同一账号的多个帖子并造成版面被同一账号的帖子大面积冲击等恶意翻帖行为。
     
     十七、严禁破坏社区公共秩序及侵害社区利益的其他内容。
     
     处罚原则
     
     一、使用不雅或不恰当账号的，社区保留取消其会员资格的权利。
     
     二、利用社区资源从事非法商业活动的，社区管理人员有权进行阻止，对其做出部分或全部权限关闭，比如版面封杀、全区封杀、IP拒绝、直至注销账号等处理。
     
     三、违反言论规则的，社区管理人员有权直接删除其违规的言论，并视违法情节和危害结果，对其做出部分或全部权限关闭，比如版面封杀、全区封杀、IP拒绝、直至注销账号等处理。
     
     四、利用论坛Bug进行任何活动的，社区将视违法情节和危害结果，对其做出部分或全部权限关闭，比如全区封杀、IP拒绝、直至注销账号等处理，并保留追究责任人法律及经济责任的权利。
     
     五、社区系统记录可以作为用户违反法律的电子信息证据提交国法司法机关。</string>
</dict>
</plist>
